# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Environment variable files
.env
.env.*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Windows system files
Thumbs.db

# Compiled output
build/
dist/

# Optional npm cache directory
.npm

# TypeScript cache
*.tsbuildinfo

# VSCode settings
.vscode/

# Optional eslint cache
.eslintcache

# Jest cache
.jest/

# Stylelint cache
.stylelintcache

# Electron
build/
